.hallway-new .hallway-item a .content {
  position: relative;
  z-index: 2;
  margin: -30px 14px 0;
  padding: 10px 14px 0;
  background: white;
}

.hallway-new .hallway-item a .content p {
  margin-right: 15px;
  margin-bottom: 0;
}

.hallway-new .hallway-item a .image {
  position: relative;
}

.hallway-new .hallway-item a .image img {
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-backface-visibility: hidden;
}

.hallway-new .hallway-item a .image:after {
  content: "";
  background: #FFFFFF;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.hallway-new .hallway-item a:hover h2,
.hallway-new .hallway-item a:hover h3 {
  color: #b91b1b;
}

.hallway-new .hallway-item a:hover h2 span,
.hallway-new .hallway-item a:hover h3 span {
  border-bottom-color: #b91b1b;
  border-bottom-style: solid;
}

.hallway-new .hallway-item a:hover .image img {
  opacity: 0.75;
}

.hallway-new .hallway-item a:active,
.hallway-new .hallway-item a:focus {
  background: none;
}

.hallway-new .hallway-item a:active h2,
.hallway-new .hallway-item a:active h3,
.hallway-new .hallway-item a:focus h2,
.hallway-new .hallway-item a:focus h3 {
  color: #b91b1b;
}

.hallway-new .hallway-item a:active h2 span,
.hallway-new .hallway-item a:active h3 span,
.hallway-new .hallway-item a:focus h2 span,
.hallway-new .hallway-item a:focus h3 span {
  border-bottom-color: #999999;
  border-bottom-style: dotted;
}

.text-hallway-nav {
  margin-top: 20px;
  margin-bottom: 0;
}

.text-hallway-nav div {
  margin-bottom: 20px;
}

.text-hallway-nav .item {
  padding: 0 10px;
}

.text-hallway-nav .item a {
  font-family: "ff-meta-web", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #b91b1b;
  font-size: 20px;
  border-bottom: 1px dotted #999;
}

.text-hallway-nav .item a:visited {
  color: #670003;
  border-bottom: 2px dotted #999;
}

.text-hallway-nav .item a:hover {
  border-bottom: 1px solid #670003;
}

.text-hallway-nav .item a:active,
.text-hallway-nav .item a:focus {
  color: white;
  background: #b91b1b;
}

.text-hallway-nav .item p {
  margin-top: .25em;
  font-size: 15px;
  display: none;
}

@media only screen and (min-width: 768px) {
  .text-hallway-nav .item {
    padding: 0;
  }

  .text-hallway-nav .item p {
    display: block;
  }
}

.fw-section-wrapper.section-hallway-nav-wrapper {
  padding: 0;
  background: #eee;
  margin-bottom: 60px;
}

.text-hallway-nav-content {
  margin-bottom: 60px;
}

.hallway-section-nav {
  margin: 20px 0;
  padding: 7.5px 0;
  border-width: 3px 0;
  border-style: solid;
  border-color: #ddd;
}

.hallway-section-nav > div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hallway-section-nav span {
  color: #aaa;
}

.hallway-section-nav a {
  color: #b02a1a;
  border-bottom: 1px dotted #999;
}

.hallway-section-nav a:hover {
  border-bottom: 1px solid #b02a1a;
}

.hallway-section-nav a:active,
.hallway-section-nav a:focus {
  color: white;
}

.hallway-section-nav .selected a {
  border: none;
  color: #333;
}

#content {
  margin-bottom: 50px;
}

.header {
  padding-top: 10px;
}

.header .header-logo img {
  max-width: 120px;
  margin: 0;
}

.header .header-links {
  text-align: center;
  font-family: "ff-meta-web", Arial, Helvetica, sans-serif;
}

.header .header-links a {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  margin: 0;
  color: #666666;
  -webkit-transition: color 0.2s, background 0.2s;
  transition: color 0.2s, background 0.2s;
  text-decoration: none;
}

.header .header-links a.header-links-home {
  color: #c9282d;
}

.header .header-links a img {
  display: block;
  max-height: 30px;
  margin: 10px auto 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.header .header-links a:hover {
  color: #c9282d;
}

.header .header-links a:hover img {
  opacity: 0.75;
}

.header .header-links a:hover span {
  border-bottom: 1px solid #c9282d;
}

.header .header-links a:active,
.header .header-links a:focus {
  color: white;
  background: #c9282d;
}

.header .header-links a:active img,
.header .header-links a:focus img {
  opacity: 1;
}

.header .header-links a:active span,
.header .header-links a:focus span {
  border-bottom-color: white;
}

@media only screen and (min-width: 480px) {
  .header .header-links a {
    margin: 0 5px;
  }

  .header .header-links a img {
    max-height: 40px;
    margin: 10px auto;
  }
}

@media only screen and (min-width: 480px) {
  .header .header-logo img {
    max-width: 150px;
  }
}

@media only screen and (min-width: 600px) {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .header .header-links {
    text-align: right;
  }

  .header .header-links a {
    margin: 0 0 0 10px;
  }

  .header .header-links a img {
    max-height: 50px;
  }
}

@media only screen and (min-width: 980px) {
  .header .header-logo img {
    max-width: 214px;
  }
}

#slice-navigation {
  margin-bottom: 40px;
}

.filters {
  padding: 0 0 20px;
  text-align: center;
}

.filters select {
  padding: 10px;
  color: #888;
}

.filters button {
  display: none;
  position: relative;
  top: -1px;
  height: 40px;
  color: #888;
}

.no-js .filters button,
.lt-ie9 .filters button {
  display: inline-block;
}

.filter-box__inner {
  background: #4d2a42;
  color: white;
}

.filter-box__inner h2 {
  font-size: 24px;
}

.filter-box__inner h2,
.filter-box__inner h2 span,
.filter-box__inner h2 i {
  line-height: 29px;
}

.tile-wrapper {
  margin: 30px 0;
}

.tile-wrapper > h2 {
  font-size: 1.25em;
  margin-bottom: 20px;
}

.tile-wrapper .tile-listing a {
  border: none;
}

.tile-wrapper .tile-listing img {
  margin: 0;
}

.tile-wrapper .tile-listing .tile {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.tile-wrapper .tile-listing .tile .tile-content {
  position: relative;
  background: white;
}

.tile-wrapper .tile-listing .tile .tile-subject {
  background-color: #b81b1a;
  padding: 0.4em 0.9em;
  position: relative;
  color: #FFFFFF;
  display: inline;
  float: left;
  margin-top: -2.2em;
}

.tile-wrapper .tile-listing .tile .tile-subject-icon {
  background: #b5975a;
  bottom: -1px;
  color: #333;
  display: none;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  padding: 4px 8px;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

@media only screen and (min-width: 480px) {
  .tile-wrapper .tile-listing .tile .tile-subject-icon {
    padding: 6px 10px;
  }
}

@media only screen and (min-width: 768px) {
  .tile-wrapper .tile-listing .tile .tile-subject-icon {
    padding: 4px 8px;
  }
}

@media only screen and (min-width: 980px) {
  .tile-wrapper .tile-listing .tile .tile-subject-icon {
    padding: 6px 10px;
  }
}

.tile-wrapper .tile-listing .tile.tile--featured .tile-subject-icon {
  display: block;
}

.tile-wrapper .tile-listing .tile.tile--featured .tile-canvas {
  border: 3px solid #b5975a;
}

.tile-wrapper .tile-listing .tile .tile-text {
  background: white;
  padding: 0 10px 10px;
  font-size: 15px;
  color: #444;
}

.tile-wrapper .tile-listing .tile .tile-topics {
  padding: 5px 10px 10px;
}

.tile-wrapper .tile-listing .tile .tile-topics ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.tile-wrapper .tile-listing .tile .tile-topics ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.tile-wrapper .tile-listing .tile .tile-topics ul li a {
  padding: 15px 10px;
  border: thin solid #666;
  margin-right: 20px;
  text-align: center;
}

.tile-wrapper .tile-listing .tile .tile-time {
  background: white;
  padding: 5px 10px 10px;
  font-size: 14px;
  color: #666;
  display: block;
}

.tile-wrapper .tile-listing .tile .tile-media {
  position: relative;
}

.tile-wrapper .tile-listing .tile .tile-heading {
  background: white;
  padding: 10px 10px 5px;
}

.tile-wrapper .tile-listing .tile .tile-heading span {
  color: #000;
  font-family: 'ff-meta-web', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.tile-wrapper .tile-listing .tile a .tile-heading span {
  border-bottom: 1px dotted #000;
}

.tile-wrapper .tile-listing .tile a .tile-heading span:hover {
  border-bottom: 1px solid #000;
}

.tile-wrapper .tile-listing .tile a.tile-img-heading {
  text-decoration: none;
}

.tile-wrapper .tile-listing .tile a.tile-img-heading span {
  border-bottom: dotted 1px #666;
}

.tile-wrapper .tile-listing .tile a.tile-img-heading:visited .tile-heading span {
  color: #000;
  border-bottom: dotted 1px #000;
}

.tile-wrapper .tile-listing .tile a.tile-img-heading:hover .tile-heading span {
  color: #000;
  border-bottom: solid 1px #000;
}

.tile-wrapper .tile-listing .tile a.tile-img-heading:hover .tile-heading img {
  opacity: 0.75;
}

.tile-wrapper .tile-listing .tile a.tile-img-heading:focus .tile-heading span {
  color: #fff;
  background: #888;
}

.tile-wrapper .tile-listing .tile a.tile-img-heading .tile-image {
  position: relative;
}

.tile-wrapper .tile-listing .tile.tile-preview .tile-heading:after,
.tile-wrapper .tile-listing .tile.tile-preview .tile-heading:before {
  content: '*';
}

.tile-wrapper .tile-listing .tile .tile-centered-container {
  position: absolute;
  left: 0;
  top: 0;
  display: table;
  height: 100%;
  width: 100%;
}

.tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block > div {
  padding: 0 6%;
}

@media only screen and (min-width: 980px) {
  .tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block > div {
    padding: 0 12%;
  }
}

.tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-text,
.tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-link {
  line-height: 1.4em;
}

@media only screen and (min-width: 480px) {
  .tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-title {
    font-size: 2em;
  }

  .tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-text,
  .tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-link {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 768px) {
  .tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-title {
    font-size: 1.5em;
  }

  .tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-text,
  .tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-link {
    font-size: 1em;
  }
}

@media only screen and (min-width: 980px) {
  .tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-title {
    font-size: 2em;
  }

  .tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-text,
  .tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-link {
    font-size: 1.2em;
  }
}

.tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-link {
  margin-bottom: 10px;
}

.tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-content-icon {
  display: inline-block;
}

.tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-content-icon .tile-icon-inner {
  display: block;
  width: 40px;
}

.tile-wrapper .tile-listing .tile .tile-centered-container .title-text-block .tile-content-icon .tile-icon-inner img {
  width: 100%;
}

.tile-wrapper .tile-listing .tile.tile-type-youtube .tile-media {
  padding-top: 55%;
  /* aspect ratio */
  overflow: hidden;
}

.tile-wrapper .tile-listing .tile.tile-type-youtube .tile-youtube-preview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.tile-wrapper .tile-listing .tile.tile-type-youtube .tile-youtube-preview img {
  position: absolute;
}

.tile-wrapper .tile-listing .tile.tile-type-youtube .tile-youtube-preview img.preview {
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}

.tile-wrapper .tile-listing .tile.tile-type-youtube .tile-youtube-preview img.play {
  width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -21px;
}

.tile-wrapper .tile-listing .tile.tile-type-youtube .tile-youtube-preview a:focus img.preview {
  outline-offset: -2px;
  outline: #b02a1a solid 2px;
}

.tile-wrapper .tile-listing .tile.tile-type-youtube .tile-youtube-preview .play-hover {
  display: none;
}

.tile-wrapper .tile-listing .tile.tile-type-youtube .tile-youtube-preview:hover .play {
  display: none;
}

.tile-wrapper .tile-listing .tile.tile-type-youtube .tile-youtube-preview:hover .play-hover {
  display: block;
}

.tile-wrapper .tile-listing .tile.tile-type-youtube .embed-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.tile-wrapper .tile-listing .tile.tile-type-youtube .embed-container iframe {
  z-index: 2;
}

.tile-wrapper .tile-listing .tile.tile-type-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tile-wrapper .tile-listing .tile.tile-type-tweet .tile-media {
  padding-top: 55%;
  /* aspect ratio */
}

.tile-wrapper .tile-listing .tile.tile-type-tweet .tile-centered-container .title-text-block {
  color: black;
}

.tile-wrapper .tile-listing .tile.tile-type-tweet .tile-centered-container .title-text-block .tile-title {
  font-size: 1.25em;
}

.tile-wrapper .tile-listing .tile.tile-type-tweet .tile-centered-container .title-text-block .tile-title .tile-tweet-userpic,
.tile-wrapper .tile-listing .tile.tile-type-tweet .tile-centered-container .title-text-block .tile-title .tile-tweet-userinfo {
  display: inline-block;
  vertical-align: top;
}

.tile-wrapper .tile-listing .tile.tile-type-tweet .tile-centered-container .title-text-block .tile-title .tile-tweet-userpic {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: relative;
  overflow: hidden;
  margin-right: 5px;
}

.tile-wrapper .tile-listing .tile.tile-type-tweet .tile-centered-container .title-text-block .tile-title .tile-tweet-userpic img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

.tile-wrapper .tile-listing .tile.tile-type-tweet .tile-centered-container .title-text-block .tile-title .tile-tweet-userpic div {
  position: absolute;
  left: -20px;
  top: -20px;
  width: 80px;
  height: 80px;
  border: solid 20px #dedad6;
  border-radius: 40px;
}

.tile-wrapper .tile-listing .tile.tile-type-tweet .tile-centered-container .title-text-block .tile-title .tile-tweet-userinfo {
  text-align: left;
  line-height: 1.1em;
}

.tile-wrapper .tile-listing .tile.tile-type-tweet .tile-centered-container .title-text-block .tile-title .tile-tweet-userinfo .tile-tweet-username {
  font-weight: bold;
}

.tile-wrapper .tile-listing .tile.tile-type-tweet .tile-centered-container .title-text-block .tile-text {
  font-size: 1.4em;
}

.tile-wrapper .tile-listing .tile.tile-type-cityconnect .tile-media {
  padding-top: 55%;
  /* aspect ratio */
}

.tile-wrapper .tile-listing .tile.tile-type-cityconnect .tile-cityconnect-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tile-wrapper .tile-listing .tile.tile-type-cityconnect .tile-centered-container {
  position: absolute;
}

.tile-wrapper .tile-listing .tile.tile-type-cityconnect .title-text-block {
  color: white;
}

.tile-wrapper .tile-listing .tile.tile-type-cityconnect .title-text-block .tile-link a {
  color: white;
  text-decoration: underline;
}

.tile-wrapper .tile-listing .tile.tile-type-image img,
.tile-wrapper .tile-listing .tile.tile-type-campaign img,
.tile-wrapper .tile-listing .tile.tile-type-selfie img {
  width: 100%;
}

.tile-wrapper .tile-listing.tile-grid .tile .tile-subject-icon {
  position: absolute;
  bottom: -1px;
  left: 10px;
}

.tile-wrapper .read-more {
  text-align: center;
}

.tile-wrapper .read-more a {
  display: inline-block;
  text-align: center;
  background: #3e1031;
  -webkit-transition: color 0.1s, background 0.1s;
  transition: color 0.1s, background 0.1s;
  color: white;
  padding: 10px 50px;
  border: 1px solid #3e1031;
  font-weight: bold;
  text-decoration: none;
}

.tile-wrapper .read-more a span {
  margin-right: 20px;
  -webkit-transition: border-bottom-color 0.1s;
  transition: border-bottom-color 0.1s;
}

.tile-wrapper .read-more a:hover {
  background: black;
}

.tile-wrapper .read-more a:hover span {
  border-bottom: 1px solid white;
}

.tile-wrapper .read-more a:active,
.tile-wrapper .read-more a:focus {
  color: #3e1031;
  background: white;
}

.tile-wrapper .read-more a:active span,
.tile-wrapper .read-more a:focus span {
  border-bottom: 1px solid #3e1031;
}

.tile-listing--intranet {
  margin-top: 3em;
  margin-bottom: -3em;
}

.tile-listing--intranet li {
  margin: 0;
  list-style-type: none;
}

.tile-listing--intranet > li:not(.clearfix) {
  margin-bottom: 40px;
}

.tile-wrapper.tile-wrapper--undergraduate .filter-box__inner {
  background: #3e1031;
}

.tile-wrapper.tile-wrapper--undergraduate .read-more a:not(:hover):not(:active):not(:focus) {
  background: #3e1031;
  border-color: #3e1031;
}

.tile-wrapper.tile-wrapper--undergraduate .read-more a:active,
.tile-wrapper.tile-wrapper--undergraduate .read-more a:focus {
  color: #3e1031;
}

.tile-wrapper.tile-wrapper--postgraduate .filter-box__inner {
  background: #00284c;
}

.tile-wrapper.tile-wrapper--postgraduate .read-more a:not(:hover):not(:active):not(:focus) {
  background: #00284c;
  border-color: #00284c;
}

.tile-wrapper.tile-wrapper--postgraduate .read-more a:active,
.tile-wrapper.tile-wrapper--postgraduate .read-more a:focus {
  color: #00284c;
}

.tile-wrapper.tile-wrapper--pg-starthere .filter-box__inner {
  background: #3e1031;
}

.tile-wrapper.tile-wrapper--pg-starthere .read-more a:not(:hover):not(:active):not(:focus) {
  background: #3e1031;
  border-color: #3e1031;
}

.tile-wrapper.tile-wrapper--pg-starthere .read-more a:active,
.tile-wrapper.tile-wrapper--pg-starthere .read-more a:focus {
  color: #3e1031;
}

.teaser {
  text-align: center;
  padding: 20px 0;
  background: mediumpurple;
  color: white;
}

.tube-map-svg-wrapper {
  width: 100%;
  padding-bottom: 75%;
  height: 0;
  position: relative;
}

.tube-map-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tube-map-svg path,
.tube-map-svg line,
.tube-map-svg circle {
  -webkit-transition: stroke 0.2s;
  transition: stroke 0.2s;
}

.tube-map-svg text {
  font-size: 20px;
  font-family: 'ff-meta-web', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  fill: #333;
  font-weight: 500;
  stroke: none;
  -webkit-transition: fill 0.2s, font-size 0.2s, font-weight 0.2s;
  transition: fill 0.2s, font-size 0.2s, font-weight 0.2s;
}

.tube-map-svg text.selectable {
  cursor: pointer;
  text-decoration: underline;
}

.tube-map-svg text.selectable:hover {
  fill: #888;
  font-size: 22px;
}

.tube-map-svg text.selected {
  fill: #b91b1c;
  font-weight: 600;
  font-size: 22px;
}

.tube-map-svg .line-creative .line-color {
  stroke: #feebde;
  cursor: pointer;
}

.tube-map-svg .line-creative:hover .line-color {
  stroke: #f7977c;
}

.tube-map-svg .line-creative.selected .line-color {
  cursor: default;
  stroke: #f14b1c;
}

.tube-map-svg .line-economics .line-color {
  stroke: #fdf2e0;
  cursor: pointer;
}

.tube-map-svg .line-economics:hover .line-color {
  stroke: #f6bb64;
}

.tube-map-svg .line-economics.selected .line-color {
  cursor: default;
  stroke: #e78f0d;
}

.tube-map-svg .line-music .line-color {
  stroke: #efe2f3;
  cursor: pointer;
}

.tube-map-svg .line-music:hover .line-color {
  stroke: #be3ed7;
}

.tube-map-svg .line-music.selected .line-color {
  cursor: default;
  stroke: #7e1e91;
}

.tube-map-svg .line-politics .line-color {
  stroke: #edf4e4;
  cursor: pointer;
}

.tube-map-svg .line-politics:hover .line-color {
  stroke: #8ecd6c;
}

.tube-map-svg .line-politics.selected .line-color {
  cursor: default;
  stroke: #5a9d36;
}

.tube-map-svg .line-journalism .line-color {
  stroke: #e2edf4;
  cursor: pointer;
}

.tube-map-svg .line-journalism:hover .line-color {
  stroke: #3cabe1;
}

.tube-map-svg .line-journalism.selected .line-color {
  cursor: default;
  stroke: #18739f;
}

.tube-map-svg .line-psychology .line-color {
  stroke: #e2d9ea;
  cursor: pointer;
}

.tube-map-svg .line-psychology:hover .line-color {
  stroke: #6931aa;
}

.tube-map-svg .line-psychology.selected .line-color {
  cursor: default;
  stroke: #381a5b;
}

.tube-map-svg .line-sociology .line-color {
  stroke: #f5f4f3;
  cursor: pointer;
}

.tube-map-svg .line-sociology:hover .line-color {
  stroke: #d2cecc;
}

.tube-map-svg .line-sociology.selected .line-color {
  cursor: default;
  stroke: #a39995;
}

.tube-map-svg .line-computing .line-color {
  stroke: #e2edf4;
  cursor: pointer;
}

.tube-map-svg .line-computing:hover .line-color {
  stroke: #3cabe1;
}

.tube-map-svg .line-computing.selected .line-color {
  cursor: default;
  stroke: #18739f;
}

.tube-map-svg .line-engineering .line-color {
  stroke: #efe2f3;
  cursor: pointer;
}

.tube-map-svg .line-engineering:hover .line-color {
  stroke: #be3ed7;
}

.tube-map-svg .line-engineering.selected .line-color {
  cursor: default;
  stroke: #7e1e91;
}

.tube-map-svg .line-maths .line-color {
  stroke: #feebde;
  cursor: pointer;
}

.tube-map-svg .line-maths:hover .line-color {
  stroke: #f89b7b;
}

.tube-map-svg .line-maths.selected .line-color {
  cursor: default;
  stroke: #f2511b;
}

.tube-map-svg .line-business .line-color {
  stroke: #e2d9ea;
  cursor: pointer;
}

.tube-map-svg .line-business:hover .line-color {
  stroke: #6931aa;
}

.tube-map-svg .line-business.selected .line-color {
  cursor: default;
  stroke: #381a5b;
}

.tube-map-svg .line-health .line-color {
  stroke: #edf4e4;
  cursor: pointer;
}

.tube-map-svg .line-health:hover .line-color {
  stroke: #8ecd6c;
}

.tube-map-svg .line-health.selected .line-color {
  cursor: default;
  stroke: #5a9d36;
}

.tube-map-svg .line-law .line-color {
  stroke: #f5f4f3;
  cursor: pointer;
}

.tube-map-svg .line-law:hover .line-color {
  stroke: #d2cecc;
}

.tube-map-svg .line-law.selected .line-color {
  cursor: default;
  stroke: #a39995;
}

.tube-map-svg .tube-map-thames path {
  fill: none;
  stroke: #50ade5;
  stroke-width: 20px;
  stroke-linejoin: round;
}

.tube-map-svg .tube-map-thames text {
  fill: white;
  stroke: none;
  font-family: 'ff-meta-web', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.tube-map-img {
  display: none;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "Font Awesome 6 Pro";
  font-size: 20px;
  line-height: 1;
  color: #3e1031;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: \f137;
}

[dir='rtl'] .slick-prev:before {
  content: \f138;
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: \f138;
}

[dir='rtl'] .slick-next:before {
  content: \f137;
}

/* Dots */

.slick-dots {
  list-style: none;
  display: block;
  text-align: center;
  margin: 0;
  width: 100%;
  padding: 10px 0;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: \f111;
  width: 20px;
  height: 20px;
  font-family: "Font Awesome 6 Pro";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #eee;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 0.75;
}

.featured-stops {
  margin-top: 30px;
  background: #3e1031;
  color: white;
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  .featured-stops {
    padding: 0;
  }
}

.featured-stops .featured-stop {
  position: relative;
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  .featured-stops .featured-stop {
    padding: 0;
  }
}

.featured-stops .featured-stop .featured-stop-header {
  padding: 0 10px;
  font-weight: 600;
}

.featured-stops .featured-stop .featured-stop-text {
  padding: 0 10px;
  margin-bottom: 10px;
}

.featured-stops .featured-stop .featured-stop-link {
  padding: 0 10px;
}

.featured-stops .featured-stop .featured-stop-link a {
  color: white;
  text-decoration: none;
}

.featured-stops .featured-stop .featured-stop-link a i {
  margin-left: 5px;
  font-size: 0.8em;
}

.featured-stops .featured-stop .featured-stop-link a span {
  border-bottom: dotted 1px white;
}

.featured-stops .featured-stop .featured-stop-link a:visited {
  color: #eee;
}

.featured-stops .featured-stop .featured-stop-link a:visited span {
  border-bottom: dotted 1px #eee;
}

.featured-stops .featured-stop .featured-stop-link a:hover span {
  border-bottom: solid 1px white;
}

.featured-stops .featured-stop .featured-stop-link a:focus {
  color: #3e1031;
  background: white;
}

.featured-stops.creative .featured-stop:before {
  background: #cd370d;
}

.featured-stops.economics .featured-stop:before {
  background: #b7710a;
}

.featured-stops.music .featured-stop:before {
  background: #591567;
}

.featured-stops.politics .featured-stop:before {
  background: #447729;
}

.featured-stops.journalism .featured-stop:before {
  background: #115373;
}

.featured-stops.psychology .featured-stop:before {
  background: #200f33;
}

.featured-stops.sociology .featured-stop:before {
  background: #8b7f7a;
}

.featured-stops.computing .featured-stop:before {
  background: #115373;
}

.featured-stops.engineering .featured-stop:before {
  background: #591567;
}

.featured-stops.maths .featured-stop:before {
  background: #ce3d0c;
}

.featured-stops.business .featured-stop:before {
  background: #200f33;
}

.featured-stops.health .featured-stop:before {
  background: #447729;
}

.featured-stops.law .featured-stop:before {
  background: #8b7f7a;
}

.featured-stops-static .featured-stop {
  margin-top: 10px;
  margin-bottom: 10px;
}

.featured-stops-static .featured-stop-media {
  max-width: 50%;
  float: left;
  margin: 0;
  padding: 5px 10px;
}

.featured-stops-static .featured-stop-media img {
  margin: 0;
}

.js .featured-stops-static {
  display: none;
}

.fw-section-wrapper.section-fw-white-wrapper.starhere-home-ribbon-wrapper {
  background: #3e1031;
  padding: 30px 0;
}

.fw-section-wrapper.section-fw-white-wrapper.starhere-home-ribbon-wrapper .starhere-home-ribbon h2,
.fw-section-wrapper.section-fw-white-wrapper.starhere-home-ribbon-wrapper .starhere-home-ribbon p {
  color: white;
}

.fw-section-wrapper.section-fw-white-wrapper.starhere-home-ribbon-wrapper .starhere-home-ribbon h2 {
  font-size: 22px;
  font-weight: 500;
}

.fw-section-wrapper.section-fw-white-wrapper.starhere-home-ribbon-wrapper .starhere-home-ribbon .course-search {
  padding-top: 20px;
}

.fw-section-wrapper.section-fw-white-wrapper.starhere-home-ribbon-wrapper .starhere-home-ribbon .course-search .course-search-textfield-wrapper {
  padding-right: 36px;
}

.fw-section-wrapper.section-fw-white-wrapper.starhere-home-ribbon-wrapper .starhere-home-ribbon .course-search .course-search-textfield-wrapper input {
  width: 100%;
}

.fw-section-wrapper.section-fw-white-wrapper.starhere-home-ribbon-wrapper .starhere-home-ribbon .course-search button {
  float: right;
}

.course-search .course-search-input {
  height: 38px;
  background: #f7f7f7;
  padding: 10px;
  border: none;
  float: left;
  display: inline;
  margin: 0;
  font-size: 1em;
  color: #333;
  z-index: 1001;
  width: 250px;
  -webkit-border-radius: 0;
}

.course-search .course-search-submit {
  border: none;
  background-color: #f7f7f7;
  cursor: pointer;
  height: 38px;
  width: 36px;
}

.course-search .course-search-submit i {
  color: #b02a1a;
}

.people-listing div:nth-child(4n+1) {
  clear: left;
}

.home .start-here-home-intro {
  text-align: center;
}

.home .start-here-home-intro h2 {
  font-size: 18px;
  color: #c9282d;
  margin: 0;
  font-weight: 500;
}

.home .banner.banner-start-here {
  position: relative;
}

.home .image-banner#promo-wrapper {
  margin-bottom: 40px;
}

.home .image-banner#promo-wrapper .banner {
  margin-bottom: 0;
}

.home .image-banner#promo-wrapper .banner img {
  margin: 0;
}

.home .image-banner#promo-wrapper .banner .banner-m-w {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

.home .image-banner#promo-wrapper .banner .banner-text-wrapper {
  position: relative;
  padding-top: 20px;
}

.home .image-banner#promo-wrapper .banner .banner-text-wrapper h2 {
  font-size: 1.4em;
  font-weight: 500;
}

.home .image-banner#promo-wrapper .banner .banner-text-wrapper p {
  font-size: 1.5em;
  margin: 0;
  font-weight: 500;
}

.home .image-banner#promo-wrapper .banner .banner-text-wrapper .banner-text {
  position: static;
  margin-top: 10px;
  background: #3e1031;
}

@media only screen and (min-width: 768px) {
  .home .image-banner#promo-wrapper .banner .banner-text-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .home .image-banner#promo-wrapper .banner .banner-text-wrapper .banner-text {
    display: inline-block;
    width: auto;
    padding: 10px;
  }
}

@media only screen and (min-width: 980px) {
  .home .image-banner#promo-wrapper .banner .banner-text-wrapper p {
    font-size: 2em;
  }
}

.home .image-banner#promo-wrapper .banner .banner-m-w,
.home .image-banner#promo-wrapper .banner .line-m-w {
  display: block;
}

.home .image-banner#promo-wrapper .banner .banner-d,
.home .image-banner#promo-wrapper .banner .line-d-w {
  display: none;
}

@media only screen and (min-width: 768px) {
  .home .image-banner#promo-wrapper .banner .banner-m-w,
  .home .image-banner#promo-wrapper .banner .line-m-w {
    display: none;
  }

  .home .image-banner#promo-wrapper .banner .banner-d,
  .home .image-banner#promo-wrapper .banner .line-d-w {
    display: block;
  }

  .home .image-banner#promo-wrapper .banner .banner-d {
    margin: auto;
  }
}

.home .image-banner#promo-wrapper .banner .line-m-w {
  padding-top: 150px;
  text-align: center;
}

.home .image-banner#promo-wrapper .banner .line-m-c {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

.home .image-banner#promo-wrapper .banner .line-m-s {
  position: relative;
  padding-top: 35%;
  -webkit-transition: padding-top 0.2s ease;
  transition: padding-top 0.2s ease;
}

.home .image-banner#promo-wrapper .banner .line-m-s img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.home .image-banner#promo-wrapper .banner .line-m {
  margin-top: 20px;
  width: 400px;
  max-width: 100%;
}

.home .image-banner#promo-wrapper .banner .banner-toggle {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  background: #3e1031;
  color: white;
  cursor: pointer;
}

.home .image-banner#promo-wrapper .banner .banner-toggle i {
  line-height: 30px;
}

.home .image-banner#promo-wrapper .banner .banner-toggle .fa-angle-up {
  display: none;
}

@media only screen and (min-width: 768px) {
  .home .image-banner#promo-wrapper .banner .banner-toggle {
    display: none;
  }
}

.home .image-banner#promo-wrapper .banner.open .banner-toggle .fa-angle-down {
  display: none;
}

.home .image-banner#promo-wrapper .banner.open .banner-toggle .fa-angle-up {
  display: block;
}

.home .image-banner#promo-wrapper .banner.open .line-m-s {
  padding-top: 123%;
}

.home .image-banner#promo-wrapper .banner .line-d-w {
  float: right;
  width: 460px;
}

@media only screen and (min-width: 980px) {
  .home .image-banner#promo-wrapper .banner .line-d-w {
    width: 625px;
    padding-top: 15px;
  }
}

.home .image-banner#promo-wrapper .banner .line-d-w img {
  margin: 0;
  width: 100%;
}

.home #slice-navigation {
  display: none;
}

.white-box--cards-intro {
  background-color: #3e1031;
  color: #FFFFFF;
}

.white-box--cards-intro h2 {
  font-weight: 300;
}

.white-box--cards-intro h2 b {
  font-weight: 700;
}