/*! City University London - MONEY MATTERS */
/**
 * Designed and built by the City University London Web Team.
 *
 * @author     City University London Web Team
 * @copyright  2015 City University London
 */
i.loading-fa-icon {
  display: none; }

@media (max-width: 767px) {
  .hidden-phone {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-tablet {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-desktop {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-widescreen {
    display: none !important; } }

@-ms-viewport {
  width: device-width; }

.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important; }

.visible-xs-block, .visible-phone,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-tablet,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-desktop,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-widescreen,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block, .visible-phone {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  
  .visible-sm-block,
  .visible-tablet {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  
  .visible-md-block,
  .visible-desktop {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  
  .visible-lg-block,
  .visible-widescreen {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

/**
 * reusable code:

@include breakup-breakpoint('thin') {               // 320px
}
@include breakup-breakpoint('thinish') {            // 480px
}
@include breakup-breakpoint('thinish_extended') {   // 500px
}
@include breakup-breakpoint('thinish_extended_2') { // 600px
}
@include breakup-breakpoint('medium') {             // 768px
}
@include breakup-breakpoint('wide') {               // 980px
}
@include breakup-breakpoint('wide_extended') {      // 1035px
}
@include breakup-breakpoint('wider') {              // 1200px
}

*/
/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/
/*	Resets
	------	*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block; }

a img {
  border: 0; }

/*	Typography presets
	------------------	*/
h1 {
  font-size: 32px;
  line-height: 1.2em;
  letter-spacing: -1px; }

h2 {
  font-size: 30px;
  line-height: 1.2em; }

h3 {
  color: #4d2841;
  font-size: 24px;
  line-height: 1.2em; }

h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.1em; }

h4 span {
  font-weight: normal; }

body {
  font: 14px/20px Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: white;
  width: 100%; }

.small, small {
  font-size: 13px;
  line-height: 18px; }

/* Selection colours (easy to forget) */
::-moz-selection {
  background: #ffff9e; }
::selection {
  background: #ffff9e; }

::-moz-selection {
  background: #ffff9e; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #ffff9e; }

#promo-wrapper .banner {
  position: relative;
  background: #4d2938;
  padding: 0;
  height: 253px;
  border-top: 6px solid #c92f37;
  background: #4d2938 url("//s1.dev.city.ac.uk/i/money-matters/bg_banner.png") no-repeat 100% 0; }

#promo-wrapper .banner .banner-media {
  display: none; }

#promo-wrapper .banner .banner-text {
  padding: 10px 10px 20px 20px; }

#promo-wrapper .banner .banner-text h2 {
  font-size: 2.6em;
  line-height: 1.1em;
  font-weight: normal;
  color: #c72232; }

#promo-wrapper .banner .banner-text h2 span {
  color: white; }

#promo-wrapper .banner .banner-text p {
  font-size: 14px; }

form#calculator {
  /* Info blocks */
  /*
        next-block: the last block, results of the form
        uk-eu-block: if the student can't get a grant

     */ }

form#calculator .start-block,
form#calculator .qblock,
form#calculator .next-block,
form#calculator .degree-block,
form#calculator .uk-eu-block,
form#calculator .yr2014-block,
form#calculator .info-block,
form#calculator .no-result-block {
  width: 100%;
  margin: 5px 0; }

form#calculator .start-block.one,
form#calculator .qblock.one,
form#calculator .next-block.one,
form#calculator .degree-block.one,
form#calculator .uk-eu-block.one,
form#calculator .yr2014-block.one,
form#calculator .info-block.one,
form#calculator .no-result-block.one {
  background-color: #a6a6a6; }

form#calculator .start-block.two,
form#calculator .qblock.two,
form#calculator .next-block.two,
form#calculator .degree-block.two,
form#calculator .uk-eu-block.two,
form#calculator .yr2014-block.two,
form#calculator .info-block.two,
form#calculator .no-result-block.two {
  background-color: #b3b3b3; }

form#calculator .start-block.three,
form#calculator .qblock.three,
form#calculator .next-block.three,
form#calculator .degree-block.three,
form#calculator .uk-eu-block.three,
form#calculator .yr2014-block.three,
form#calculator .info-block.three,
form#calculator .no-result-block.three {
  background-color: #c1c1c1; }

form#calculator .start-block.four,
form#calculator .qblock.four,
form#calculator .next-block.four,
form#calculator .degree-block.four,
form#calculator .uk-eu-block.four,
form#calculator .yr2014-block.four,
form#calculator .info-block.four,
form#calculator .no-result-block.four {
  background-color: #cecece; }

form#calculator .start-block.five,
form#calculator .qblock.five,
form#calculator .next-block.five,
form#calculator .degree-block.five,
form#calculator .uk-eu-block.five,
form#calculator .yr2014-block.five,
form#calculator .info-block.five,
form#calculator .no-result-block.five {
  background-color: #c72232; }

form#calculator .start-block.six,
form#calculator .qblock.six,
form#calculator .next-block.six,
form#calculator .degree-block.six,
form#calculator .uk-eu-block.six,
form#calculator .yr2014-block.six,
form#calculator .info-block.six,
form#calculator .no-result-block.six {
  background-color: #cecece; }

form#calculator .start-block .col-icns,
form#calculator .qblock .col-icns,
form#calculator .next-block .col-icns,
form#calculator .degree-block .col-icns,
form#calculator .uk-eu-block .col-icns,
form#calculator .yr2014-block .col-icns,
form#calculator .info-block .col-icns,
form#calculator .no-result-block .col-icns {
  padding: 20px 0 20px 20px; }

form#calculator .start-block .col-icns .section-icon,
form#calculator .qblock .col-icns .section-icon,
form#calculator .next-block .col-icns .section-icon,
form#calculator .degree-block .col-icns .section-icon,
form#calculator .uk-eu-block .col-icns .section-icon,
form#calculator .yr2014-block .col-icns .section-icon,
form#calculator .info-block .col-icns .section-icon,
form#calculator .no-result-block .col-icns .section-icon {
  width: 100%;
  text-align: center; }

form#calculator .start-block .col-icns .section-icon img,
form#calculator .qblock .col-icns .section-icon img,
form#calculator .next-block .col-icns .section-icon img,
form#calculator .degree-block .col-icns .section-icon img,
form#calculator .uk-eu-block .col-icns .section-icon img,
form#calculator .yr2014-block .col-icns .section-icon img,
form#calculator .info-block .col-icns .section-icon img,
form#calculator .no-result-block .col-icns .section-icon img {
  margin: 10px auto; }

form#calculator .start-block .col-qs, form#calculator .start-block .col-qs-1, form#calculator .start-block .col-qs-2,
form#calculator .qblock .col-qs,
form#calculator .qblock .col-qs-1,
form#calculator .qblock .col-qs-2,
form#calculator .next-block .col-qs,
form#calculator .next-block .col-qs-1,
form#calculator .next-block .col-qs-2,
form#calculator .degree-block .col-qs,
form#calculator .degree-block .col-qs-1,
form#calculator .degree-block .col-qs-2,
form#calculator .uk-eu-block .col-qs,
form#calculator .uk-eu-block .col-qs-1,
form#calculator .uk-eu-block .col-qs-2,
form#calculator .yr2014-block .col-qs,
form#calculator .yr2014-block .col-qs-1,
form#calculator .yr2014-block .col-qs-2,
form#calculator .info-block .col-qs,
form#calculator .info-block .col-qs-1,
form#calculator .info-block .col-qs-2,
form#calculator .no-result-block .col-qs,
form#calculator .no-result-block .col-qs-1,
form#calculator .no-result-block .col-qs-2 {
  padding: 20px 20px 0 20px; }

form#calculator .start-block p,
form#calculator .qblock p,
form#calculator .next-block p,
form#calculator .degree-block p,
form#calculator .uk-eu-block p,
form#calculator .yr2014-block p,
form#calculator .info-block p,
form#calculator .no-result-block p {
  margin-bottom: 10px; }

form#calculator .next-block,
form#calculator .degree-block,
form#calculator .uk-eu-block,
form#calculator .yr2014-block,
form#calculator .no-result-block {
  color: white; }

form#calculator .next-block h3,
form#calculator .degree-block h3,
form#calculator .uk-eu-block h3,
form#calculator .yr2014-block h3,
form#calculator .no-result-block h3 {
  color: white; }

form#calculator .next-block .option,
form#calculator .degree-block .option,
form#calculator .uk-eu-block .option,
form#calculator .yr2014-block .option,
form#calculator .no-result-block .option {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0; }

form#calculator .next-block .option a,
form#calculator .degree-block .option a,
form#calculator .uk-eu-block .option a,
form#calculator .yr2014-block .option a,
form#calculator .no-result-block .option a {
  color: white; }

form#calculator .next-block .notes,
form#calculator .degree-block .notes,
form#calculator .uk-eu-block .notes,
form#calculator .yr2014-block .notes,
form#calculator .no-result-block .notes {
  font-size: 0.9em; }

form#calculator .start-block {
  background-color: #d2d2d2; }

form#calculator .start-block .before {
  color: #c72232;
  font-weight: bold; }

form#calculator .start-block .form-q {
  /* wrapper around a single question */
  min-height: 20px; }

form#calculator .info-block .form-q {
  /* wrapper around a single question */
  min-height: 20px; }

form#calculator .next-block .form-q,
form#calculator .uk-eu-block .form-q,
form#calculator .yr2014-block .form-q,
form#calculator .degree-block .form-q,
form#calculator .no-result-block .form-q {
  /* wrapper around a single question */
  min-height: 20px; }

form#calculator .next-block .form-q a,
form#calculator .uk-eu-block .form-q a,
form#calculator .yr2014-block .form-q a,
form#calculator .degree-block .form-q a,
form#calculator .no-result-block .form-q a {
  color: white; }

form#calculator .degree-block .additional {
  /* only show if certain courses selected */
  display: none; }

form#calculator .form-row {
  /* container for each row of fields */
  margin: 0 0 10px 0;
  padding-bottom: 10px; }

form#calculator .form-q {
  /* wrapper around a single question */
  position: relative;
  min-height: 180px;
  padding-left: 20px;
  border-left: 1px solid #4d2841; }

form#calculator h4 {
  /* form question */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0 0 10px 0; }

form#calculator h4 span {
  font-weight: normal; }

form#calculator .form-input {
  margin-left: 20px;
  /* correction for wrapped label */ }

form#calculator .form-input label {
  /* line up wrapped label */
  margin-left: -20px;
  text-indent: 20px; }

form#calculator .awards, form#calculator .awards_cta {
  list-style-type: none;
  margin: 0; }

form#calculator .awards li, form#calculator .awards_cta li {
  margin: 0.5em 0; }

form#calculator .awards_cta {
  margin-top: 20px; }

form#calculator .popup {
  display: none;
  position: absolute;
  width: 250px;
  height: auto;
  padding: 6px;
  color: white;
  line-height: 1.2em;
  background: #c72232;
  border: 1px solid #4d2841; }

body {
  width: 100%;
  /*896px;
padding: 72px 48px 84px;*/
  -webkit-text-size-adjust: 100%;
  /* Stops Mobile Safari from auto-adjusting font-sizes */ }

#promo-wrapper .banner .banner-text {
  width: 600px; }

.col-icns {
  width: 330px; }

.col-qs {
  width: 650px; }

/*		Default Layout: 992px.     */
@media only screen and (min-width: 992px) {
  form#calculator .popup {
    right: 10px;
    top: 0; } }

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    width: 712px;
    padding: 48px 28px 60px; }
  #promo-wrapper .banner .banner-text {
    width: 500px; }
  form#calculator .popup {
    right: 0;
    top: 0;
    width: 180px; } }

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  body {
    width: 252px;
    padding: 48px 34px 60px; }
  #promo-wrapper .banner {
    background-position: 0 0; }
  #promo-wrapper .banner .banner-text {
    width: 220px; }
  form#calculator .form-q {
    /* wrapper around a single question */
    min-height: 20px;
    padding-left: 0;
    margin-bottom: 20px;
    border-left: none; }
  form#calculator .popup {
    left: 0px;
    top: 0; } }

/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    width: 436px;
    padding: 36px 22px 48px; }
  #promo-wrapper .banner {
    background-position: 100% 0; }
  #promo-wrapper .banner .banner-text {
    width: 220px; } }

@media only screen and (max-width: 479px) {
  form#calculator .popup {
    width: 238px;
    left: -20px;
    top: 0; } }

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
